header {
  background-color: #2c3743;
  display: flex;
  justify-content: space-between;

  div {
    padding: 1%;
    color: white;

    &:first-child {
      margin-left: 3%;
    }

    &:nth-child(2) {
      margin-right: 3%;
    }
  }
}
