.country-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  row-gap: 5rem;
  column-gap: 2rem;
  background-color: #212c37;
  width: 90%;
  margin: auto;
  justify-content: center;
}

.individual-country-container {
  display: block;
  background-color: #2c3743;
  color: white;
  flex-grow: 2;

  h3,
  p {
    padding-left: 5% !important;
    margin: 6%;
  }

  img {
    height: 150px;
    width: 404px;
  }
}
