.country-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  row-gap: 5rem;
  column-gap: 2rem;
  background-color: #212c37;
  width: 60%;
  margin: auto;
  justify-content: center;
}

.individual-country-container {
  display: block;
  background-color: #2c3743;
  color: white;
  width: 260px; /* Adjust the width as needed */
  height: 400px; /* Adjust the height as needed */

  h3,
  p {
    padding-left: 5% !important;
    margin: 6%;
  }

  img {
    width: 260px; /* Adjust the width as needed */
    height: 200px; /* Adjust the height as needed */
    object-fit: cover; /* Scale and crop the image to fit the container */
  }
}
